<div class="main-centered">
    <h2>For Players</h2>
    <p>Welcome to the home of Trivia Time Live! TTL is the Pacific
    Northwest’s unrivaled live team trivia experience! Want something
    besides another sports game on TV to keep you busy at your favorite bar?
    Dry, boring “Pub” trivia just isn’t cutting it?  How about throwing in
    some good music, a live, entertaining trivia host, food and drink
    specials, and just an all around trivia party with categories and
    questions for just about everyone! What’s even better – It’s FREE to
    play and you can win prizes if you finish among the top teams!</p>

    <h2>For Bar/Restaurant Owners</h2>
    <p>Why will you want a Trivia Time Live game at your venue every week?
    You’ll want it because we bring people in the door on nights where that
    can be a challenge. Even better is we get them coming back every week
    and making it their regular night out to eat, drink, and enjoy your
    establishment.  Trivia Time Live charges very reasonable prices for the
    service of running a two-hour party in your venue that increases your
    bottom line and keeps your customers happy and coming back for more.</p>

    <h2>Private Events</h2>
    <p>A Trivia Time Live game is just the ticket to ratchet up your private
    event. We can tailor questions, games, and the music to your specific
    event’s needs. Whether it’s a wedding rehearsal dinner or a corporate
    icebreaker or conference or even just a private house party, Trivia Time
    Live provides a fun and interactive way for the guests and participants
    to mix, mingle, and compete in a reasonably paced game of general
    knowledge.  It’s the perfect kind of game where no one is on the spot,
    but everyone can get involved and have a great time! Contact us for
    rates and more information.</p>
</div>
