<h2>Apply to be trivia host!</h2>
<div class="main-centered">
    <form method="post">
        Name
        Phone
        Email
        Street Address
        City
        How did you hear about us?
        Nights Available
        Are you over 21?
        Do you have reliable means of transportation?
        Do you own a laptop?
        Do you have iTunes or a similar means of playing music?
        Do you have Microsoft Excel or a similar means of using spreadsheets?
        Do you have any relevant experience? (not required, but a plus)
        Why do you want to be a trivia host?
        Have you played our game before? If so, where?
        Is there anything else you'd like to tell us about yourself?
    </form>
</div>
