{% load static %}

{% with event=content %}
<style type="text/css">
@media screen and (min-width: 500px) {
    /* Desktop monitors, tablets, wide screens */
    /* {% get_static_prefix %} */
    #backdrop {
        {% if bg_desktop_url %}
        background: url("{% get_static_prefix %}{{bg_desktop_url}}") center no-repeat;
        background-color: rgb{{bg_desktop_color}};
        {% else%}
        background-color: var(--main-bg-color);
        {% endif %}
    }
}
@media screen and (max-width: 500px) {
    /* Phones */
    #backdrop {
        {% if bg_mobile_url %}
        background: url("{% get_static_prefix %}{{bg_mobile_url}}") center no-repeat;
        background-color: rgb{{bg_mobile_color}};
        {% else%}
        background-color: var(--main-bg-color);
        {% endif %}
    }
}
@media screen\0, screen\9 and (min-width: 500px){
    /* IE specific rules because it sucks that bad */
    {% if not bg_desktop_url %}
    #backdrop {
        background-color: #337989;
    }
    {% endif %}
}
@media screen\0, screen\9 and (max-width: 500px){
    /* IE specific rules because it sucks that bad */
    {% if not bg_mobile_url %}
    #backdrop {
        background-color: #337989;
    }
    {% endif %}
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'website/event.css' %}" />
<div class="main-centered">
    <div id="backdrop">
        <h2>{{event.title}}</h2>
        <div id="details">
            <dl>
                <dt>Where</dt>
                <dd>{{event.location|linebreaks}}</dd>
                <dt>When</dt>
                <dd>{{event.time}}</dd>
            </dl>
            {{event.description|safe|linebreaks}}
            <!--{% lorem 3 p %}-->
        </div>
    </div>
</div>
{% endwith %}
