{% load static %}
<link rel="stylesheet" href="{% static 'website/form.css' %}">
<link rel="stylesheet" href="{% static 'website/hire_us.css' %}">
<h2>Hire Us to host a game for you</h2>
<div class="main-centered">
    <p>
        <label for="id_business_or_event0">
            Is this for a game at your business, or a private party/event?
        </label>
    </p>
    <label for="id_business_or_event0">Business</label>
    <input type="radio" id="id_business_or_event0"
        name="business_or_event" value="Business">

    <label for="id_business_or_event1">Private Event</label>
    <input type="radio" id="id_business_or_event1"
        name="business_or_event" value="Private Event">

    <form method="post" id="business-form">
        {% csrf_token %}
        {{ business_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <form method="post" id="event-form">
        {% csrf_token %}
        {{ event_form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
