{% load static %}
<link rel="stylesheet" href="{% static 'website/form.css' %}">
<link rel="stylesheet" href="{% static 'website/hire_us.css' %}">
{% if success and not errors %}
<h2 class="success">
    Your request has been submitted! We will try to contact you as soon as
    possible.
</h2>
{% endif %}
{% if errors %}
<h2 class="error">Uh-oh, there was an error with your submission!</h2>
{% endif %}
<h2>Hire Us to host a game for you</h2>
<div class="main-centered">
    <p>
        Is this for a game at your business, or a private party/event?
    </p>

    <input type="radio" id="id_event_type0"
        name="event_type" value="business">
    <label for="id_event_type0">Business</label>

    <input type="radio" id="id_event_type1"
        name="event_type" value="event">
    <label for="id_event_type1">Private Event</label>

    <form method="post" id="business-form">
        {% csrf_token %}
        {{ business_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <form method="post" id="event-form">
        {% csrf_token %}
        {{ event_form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

<script type="text/javascript" src="{% static 'website/util.js' %}"></script>
<script type="text/javascript">
    // client-side validation
    function validateBusiness(form) {
        // Validate and clean form data
        // trim all text inputs
        forEach(form.querySelectorAll('input[type=text]'),
            function(e) {e.value = e.value.trim();})
        var error,
            input,
            message,
            data = {
                csrfmiddlewaretoken: form.querySelector('[name=csrfmiddlewaretoken]').value,
                event_type: document.querySelector('[name=event_type]:checked').value,
                business_name: form.querySelector('[name=business_name]').value,
                business_phone: form.querySelector('[name=business_phone]')
                    .value.replace(/[- ]/g, ''),
                client_name: form.querySelector('[name=client_name]').value,
                client_phone: form.querySelector('[name=client_phone]')
                    .value.replace(/[- ]/, ''),
                client_email: form.querySelector('[name=client_email]').value,
                business_type: form.querySelector('[name=business_type]').value,
                business_type_other: form.querySelector(
                    '[name=business_type_other]').value,
                previous_trivia: form.querySelector(
                    'input[name=survey_previous_trivia]:checked').value,
                previous_trivia_explain: form.querySelector(
                    '[name=survey_previous_trivia_explain]').value,
                contact_method: form.querySelector('[name=contact_method]').value,
                contact_days: Array.prototype.map.call(
                    form.querySelectorAll('[name=contact_days]:checked'),
                    function(e) { return e.value }),
                contact_time: form.querySelector('[name=contact_time]').value,
                survey_questions: form.querySelector(
                    '[name=survey_questions]').value};

        if(data.business_phone.length < 10) {
            error = true;
            input = form.querySelector('[name=business_phone]');
            message = 'Please include an area code in your phone number';
        } else if(data.client_phone.length < 10) {
            error = true;
            input = form.querySelector('[name=client_phone]');
            message = 'Please include an area code in your phone number';
        } else if(data.business_type === 'other' && !data.business_type_other) {
            error = true;
            input = form.querySelector('[name=business_type_other]');
            message = 'Could you describe what type of venue it is?';
        } else if(data.previous_trivia === 'yes' && !data.previous_trivia_explain) {
            error = true;
            input = form.querySelector('[name=survey_previous_trivia_explain]');
            message = "You said that you've had a trivia game before. " +
                "Could you tell us whos? We're just curious.";
        }

        if (error) {
            errorMessage(input, message, {position: 'before'});
            input.focus();
            return false;
        } else {
            return data;
        }
    }

    function validateEvent(form) {
        // Validate and clean form data
        var error,
            input,
            message,
            data = {
                csrfmiddlewaretoken: form.querySelector('[name=csrfmiddlewaretoken]').value,
                event_type: document.querySelector('[name=event_type]:checked').value,
                client_name: form.querySelector('[name=client_name]').value,
                client_phone: form.querySelector('[name=client_phone]').value,
                client_email: form.querySelector('[name=client_email]').value,
                event_summary: form.querySelector('[name=event_summary]').value,
                event_date: form.querySelector('[name=event_date]').value,
                event_location: form.querySelector('[name=event_location]').value,
                event_people: form.querySelector('[name=event_people]').value,
                contact_method: form.querySelector('[name=contact_method]').value,
                contact_days: Array.prototype.map.call(
                    form.querySelectorAll('[name=contact_days]:checked'),
                    function(e) { return e.value }),
                contact_time: form.querySelector('[name=contact_time]').value,
                survey_questions: form.querySelector(
                    '[name=survey_questions]').value};

        // trim any extra spaces from the ends of values
        forEach(Object.keys(data), function(k) {
            var val = data[k];
            if(typeof(val) === "string")
                data[k] = data[k].trim();
        });

        if(data.client_phone.length < 10) {
            error = true;
            input = form.querySelector('[name=client_phone]'),
            message = 'Please include an area code in your phone number';
        } else if(!/^\d{4}-\d{2}-\d{2}/.test(data.event_date)) {
            var altDateFmt = /^(\d{2})\/(\d{2})\/(\d{2}|\d{4})$/;
            if(altDateFmt.test(data.event_date)) {
                data.eventDate.replace(altDateFmt, '\3-\2-\1');
            } else {
                error = true;
                input = form.querySelector('[name=event_date]'),
                message = 'Please enter a date in this format: MM/DD/YY';
            }
        }

        if (error) {
            errorMessage(input, message, {position: 'before'});
            input.focus();
            return false;
        } else {
            return data;
        }
    }

    function submitForm(e) {
        // determine which form was submitted, validate, clean, post data
        e.preventDefault();
        clearErrors();
        var form = e.target,
            data;
        switch(form.id) {
            // determine which form to validate
            case "business-form":
                data = validateBusiness(form);
                break;
            case "event-form":
                data = validateEvent(form);
                break;
            default:
                errorMessage(
                    form.querySelector('input[type=submit]'),
                    "Oops! Something went wrong!",
                    {position: 'before'});
                return false;
                break;
        }
        if(data) {
            // post the data
            post("{% url 'website:hire_us' %}", data);
        } else {
            // something's invalid; display error message
            errorMessage(
                form.querySelector('input[type=submit]'),
                "Oops! Something's invalid.",
                {position: 'before'});
        }
    }

    var businessForm = document.getElementById('business-form'),
        eventForm = document.getElementById('event-form');

    businessForm.onsubmit = submitForm;
    eventForm.onsubmit = submitForm;

    // if errors, repopulate the form with the data the user entered, with
    // error messages
    {% if errors %}
        {% for k,v in form_data.items %}
        // repopulate form with user's data
        var form = document.getElementById('{{form_data.event_type}}-form'),
            key = '{{k}}',
            val = '{{v}}',
            inp;
        if(key === 'event_type') {
            inp = document.querySelector('[name=' +key + '][value="{{v}}"]');
            if(inp) {
                inp.checked = "true";
            }
        } else {
            inp = form.querySelector('#id_' + key);
            if(inp) {
                if(inp.tagName === 'UL' && val) {
                    if(inp.id === 'id_contact_days') {
                        var days = val.toLowerCase().split(',');
                        days.forEach(function(d) {
                            var cb = inp.querySelector('[value=' + d + ']');
                            cb.checked = true;
                        });
                    } else {
                        var cb = inp.querySelector('[value={{v}}]');
                        cb.checked = true;
                    }
                } else {
                    inp.value = val;
                }
            }
        }
        {% endfor %}
        {% for error in errors %}
        {% for k,v in error.items %}
        // display any server-generated error messages
        var inp = form.querySelector('#id_{{k}}'),
            msg = "{{v}}";
        errorMessage(inp, msg, {position: 'before'});
        {% endfor %}
        {% endfor %}
    {% endif %}
</script>
