{% load static %}

<h2>How To Play</h2>
<div class="main-centered">
    <p>Go to <a href="{% url 'website:venues' %}">one of your favorite TTL venues</a>.

    Get seated and your host will set you up with team materials shortly
    before the game starts. Your host will then give you categories and ask
    the first question of the round. For each question, your team will have
    one song's worth of time to fill out and turn in your answer slip. Each
    answer slip needs a team name, an answer, and a point wager. If you get
    the question right, you earn your wager. If you miss it, it's just a zero.
    There are no negative points (because we like to stay positive).
    A perfect game is a bit of a long shot, but if you wager wisely, you stand
    a very good chance of winning. We like to put you in charge of the points
    so that you can control your own destiny.

    </p>
</div>

<h2>FAQ</h2>
<div id="faq" class="main-centered">
    <dl>
        <dt>What if I don't like trivia?</dt>
        <dd>You'll like this trivia.</dd>

        <dt>Is there a team-size limit?</dt>
        <dd>No more than 8 at most venues with a few exceptions on Friday
        and Saturday.</dd>

        <dt>What's the deal with cellphones?</dt>
        <dd>They make you look goofy :P (they also cost your team 10 points if
        they're out during trivia).</dd>

        <dt>Where can I find the clue?</dt>
        <dd>Either the home page of <a href="{% url 'website:index' %}">this website</a>
            or on <a href="https://www.facebook.com/TriviaTimeLive/">our Facebook page</a>.</dd>

        <dt>What are the prizes?</dt>
        <dd>Though it varies from place to place, typically our prizes are
        gift certificates to be used at that venue.</dd>

        <dt>Can I hire you to host a game at my venue?</dt>
        <dd>Yes! Please contact us <a href="{% url 'website:hire_us' %}">here</a>!</dd>

        <dt>Can I hire you to host a game at my private party/event?</dt>
        <dd>Yes! Please contact us <a href="{% url 'website:hire_us' %}">here</a>!</dd>

        <dt>What if I have a suggestion?</dt>
        <dd>We have <a href="{% url 'website:contact_questions' %}">a place for people like you</a> ;)</dd>

        <dt>Is pineapple okay on pizza?</dt>
        <dd>Are Tide Pods okay on pizza?</dd>

        <dt>What's it like asking so many questions?</dt>
        <dd>I could ask you the same thing.</dd>
    </dl>
</div>
