<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta name=viewport content='width=device-width, initial-scale=1'>
        <title>Trivia Time Live</title>
        <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'website/index.css' %}" />
        <script src="{% static 'website/util.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <h1>{{ header }}</h1>
            <div id="logo">
                <a href="{% url 'website:index' %}">
                    <img src="{% static 'website/images/logos/TTL-logo.svg' %}" alt="Trivia Time Live Logo"
                        height="150px">
                </a>
            </div>
        </div>

        <div id="index-navbar-container">
        {% include "website/navbar.html" %}
        </div>

        <div id="daily-updates">
            <div id="games">
                <h2>Play Tonight!</h2>
                <ul>
                    {% for game in todays_games %}
                    <li {% if game.is_pennant_game_today %}class="pennant"{% endif %}>
                    {{ game.name }} -
                    {%if game.city not in game.name %} {{ game.city }}{% endif %} ({{ game.time|time:"g:iA"|lower }})
                    </li>
                    {% if game.is_pennant_game_today %}
                    <li class="pennant">{{ game.pennant_district }} PENNANT GAME</li>
                    {% endif %}
                    {% empty %}
                    <li>No games today</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="clue">
                <h2>Check The Clue!</h2>
                <p>
                {% if todays_clue.url %}
                <a href="{{ todays_clue.url }}">{{ todays_clue.title }}</a>
                {% else %}
                {{ todays_clue.title }}
                {% endif %}
                </p>
            </div>
        </div>

        <!--<h1>Upcoming</h1>-->
        <div id="carousel-container">
        {% include "website/carousel.html" %}
        </div>
    </body>
</html>
