{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/navbar.css' %}" />

<div id="navbar">
    <div class="dropdown">
      <button>About</button>
      <div class="content">
        <a href="{% url 'website:about' %}">Details</a>
        <a href="{% url 'website:how_to_play' %}">How To Play / FAQ</a>
      </div>
    </div>
    <a href="{% url 'website:pennant_standings' %}">Pennant Standings</a>
    <a href="{% url 'website:venues' %}">Where To Play</a>
    <div class="dropdown">
        <button style="text-transform: none">TriviaPalooza</button>
        <div class="content">
            <a href="{% url 'palooza:about' %}">What <i>is</i> TriviaPalooza?</a>
            <a href="{% url 'palooza:standings' %}">Standings</a>
        </div>
    </div>
    <div class="dropdown">
      <button>Contact</button>
      <div class="content">
        <a href="{% url 'website:hire_us' %}">Hire Us</a>
        <a href="{% url 'website:apply' %}">Host For Us</a>
        <a href="{% url 'website:contact_questions' %}">Questions</a>
      </div>
    </div>
</div>

<script type="text/javascript">
    function dropdownClick() {
        // Toggle the visibility of the dropdown content in the navbar
        var button  = this,
            content = button.nextElementSibling;
        // toggleClass is a utility function that can be found in
        // {% static 'website/util.js' %}
        toggleClass(content, 'active');
    };

    // navbar: display dropdown menus when clicked
    var dropdowns = document.querySelectorAll('.dropdown>button');
    forEach(dropdowns,
        function(button) { button.onclick = dropdownClick; });

    // close dropdown if user clicks outside of it
    window.onclick = function(e) {
        if(!e.target.matches('.dropdown>button')) {
        var dropdown = document.querySelector('.content.active');
        if(dropdown)
            dropdown.classList.remove('active');
        }
    }
</script>
