{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/navbar.css' %}" />

<div id="navbar">
    <div class="dropdown">
        <button>About</button>
        <div class="content">
            <a href="{% url 'website:about' %}">Details</a>
            <a href="{% url 'website:how_to_play' %}">How To Play / FAQ</a>
        </div>
    </div>
    <a href="{% url 'website:venues' %}">Where To Play</a>
    <div class="dropdown">
        <button>Pennant</button>
        <div class="content">
            <a href="{% url 'website:pennant_about' %}">What <i>is</i> the pennant?</a>
            <a href="{% url 'website:pennant_standings' %}">Standings</a>
        </div>
    </div>
    <div class="dropdown">
        <button>TriviaPalooza</button>
        <div class="content">
            <a href="{% url 'palooza:about' %}">What <i>is</i> TriviaPalooza?</a>
            <a href="{% url 'palooza:discounts' %}">Venue Discounts</a>
            <a href="{% url 'palooza:standings' %}">Standings</a>
        </div>
    </div>
    <div class="dropdown">
      <button>Contact</button>
      <div class="content">
        <a href="{% url 'website:hire_us' %}">Hire Us</a>
        <a href="{% url 'website:apply' %}">Host For Us</a>
        <a href="{% url 'website:contact_questions' %}">Questions</a>
      </div>
    </div>
</div>

<script type="text/javascript">
    function dropdownClick() {
        // Toggle the visibility of the dropdown content in the navbar
        var button  = this,
            content = button.nextElementSibling,
            dropdowns = Array.prototype.filter.call(
                document.querySelectorAll('.content.active'),
                function(d) { return d !== content; });
        forEach(dropdowns, function(d) { d.classList.remove('active'); })
        toggleClass(content, 'active');
    };

    // navbar: display dropdown menus when clicked
    var dropdowns = document.querySelectorAll('.dropdown>button');
    forEach(dropdowns,
        function(button) { button.onclick = dropdownClick; });

    // close dropdown if user clicks outside of it
    window.onclick = function(e) {
        if(!e.target.matches('.dropdown>button')) {
            var dropdowns = document.querySelectorAll('.content.active');
            forEach(dropdowns, function(d) { d.classList.remove('active'); })
        }
    }
</script>
