<div class="main-centered">

    <p>
    The Pennant is a symbol of excellence that each venue strives to attain
    throughout the Trivia Time Live season. Our venues compete against one
    another for Pennant points from March to February.
    </p>

    <p>
    We have broken up our current slate of games into North and South regions.
    A venue earns Pennant points when they either WIN or DEFEND that Pennant.
    To “Win” the pennant, a venue needs a challenging team to win first place
    at the venue where the Pennant currently sits. If they do, they earn
    points for that venue and the Pennant moves there to begin the process of
    being defended from other challenging venues. To “Defend” the Pennant,
    a team that plays for the venue where the Pennant currently is must take
    1st place.  If they do, it will remain there.
    </p>

    <p>
    Points are reflected on our
    <a href="{% url 'website:pennant_standings' %}">standings page</a>* and the
    venue with the most points when the Pennant season ends will retain that
    pennant to be proudly displayed for all time. Also, that venue receives
    a theme game of their choice, to be voted on by the players. The Pennant
    pits your favorite venue against all the others! Get in on the fun!
    </p>

    <p><i>
    *Pennant standings will be updated once a week.
    </i></p>

    <br>
    <h2>Pennant Scoring</h2>
    <ul>
        <li>A Pennant "Win" is worth 2 points</li>
        <li>A Pennant "Defend" is worth 2 points</li>
        <li>A "Place" point is earned if a challenging venue finishes in 2nd
        or 3rd place</li>
        <li>A "challenging" venue could earn as many as 4 points on any given
        Pennant game if they finished in 1st, 2nd, and 3rd</li>
        <li>A "defending" venue can only earn 2 points for any defense (no
        additional points are awarded to a defending venue for placing)</li>
    </ul>
</div>
