{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/venues.css' %}" />
{% for venue in content %}
    {% ifchanged venue.day_name %}
        {% if not forloop.first %}
        </div>
        {% endif %}
        <div class="day{% if today.isoweekday|add:"-1" == venue.day %} today{%endif%}">
            <input type="checkbox"
                id="{{ venue.day_name }}"
                name="day"
                value="{{ venue.day_name }}"
                {% if today.isoweekday|add:"-1" == venue.day %}checked="checked"{% endif %}>
            <label for="{{ venue.day_name }}">{{ venue.day_name }}</label>
    {% endifchanged %}
            <div class="venue{% if venue.active_hold %} inactive{% endif %}">
                <div class="image">
                    <img src="{% static venue.logo_path %}"
                         alt="{{ venue.name }} logo">
                </div>
                <div class="info">
                    <div class="name">
                        <a href="{{ venue.url }}">{{ venue.name }}</a>
                    </div>
                    <div class="time">
                        {% if venue.active_hold and venue.hold.start <= venue.next_date %}
                            {% if venue.hold.message %}
                            {{venue.hold.message}}
                            {% else %}
                            No game {{venue.next_date|date:"F d"}}
                            {% endif %}
                        {% else %}
                        {{ venue.time|time:"g:iA"|lower }}
                        {% endif %}
                    </div>
                    <div class="address">{{ venue.address|linebreaksbr }}</div>
                </div>
            </div>
    {% if forloop.last %}
        </div>
    {% endif %}
{% endfor %}

<script type="text/javascript">
    function scrollToIfExpanded(el) {
        console.log(el);
        var day = el.target;
        if(day.checked)
            day.parentNode.scrollIntoView();
    };

    var days = document.querySelectorAll('.day>input[type=checkbox]');
    forEach(days, function(day) {
        day.onchange = scrollToIfExpanded;
    });
</script>
