#header {
    display: flex;
    width: 80%;
    margin: auto;
}
#header * {
    margin: auto;
    vertical-align: middle;
}
#header h1 {
    flex: 1;
    font-size: 36pt;
}
#header #logo {
    flex: 1;
}
@media screen and (min-width: 501px) and (max-width: 1029px) {
    /* For tablets */
    #header {
        flex-direction: row-reverse;
        margin: auto;
        margin-bottom: -2em;
        height: 10em;
        margin-top: -2em;
    }
    #header h1 {
        flex: 2;
    }
    #header #logo {
        flex: 1;
    }
    #logo img {
        max-width: 250px;
        height: auto;
        max-height: 100px;
    }
}
@media screen and (max-width: 500px) {
    /* Phones */
    #header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    #header h1 {
        margin-top: .2em;
        font-size: 30pt;
    }
    #logo img {
        width: 100%;
        max-height: 125px;
    }
}
@media screen and (min-width: 1030px) {
    /* Desktops and excessively wide tablets */
    #header {
        display: block;
        flex-direction: row-reverse;
        height: 60px;
        position: relative;
        margin-bottom: 1em;
    }
    #header h1 {
        text-align: center;
        display: block;
        padding-top: 0.4em;
        margin: auto;
        vertical-align: middle;
    }
    #header #logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    #header #logo img {
        height: 100%;
        width: 200px;
    }
}
