:root {
    --cool-blue: #008CBA;
    --cool-light-blue: #33AEDC;
    --cool-dark-blue: #004080;
}
form {
    display: none;
    border-top: 2px solid black;
    padding-top: 1em;
    margin-top: 1em;
}
#id_business_or_event0:checked ~ #business-form,
#id_business_or_event1:checked ~ #event-form {
    display: block;
}
.main-centered>p {
    margin-bottom: 1em;
    text-align: center;
}
.main-centered>label {
    border: 2px solid var(--cool-blue);
    background-color: var(--cool-blue);
    color: white;
    padding: 2px 8px;
    border-radius: 15px;
    transition: .2s linear;
    text-align: center;
}
.main-centered>label:hover {
    background-color: var(--cool-light-blue);
}
.main-centered>input[type=radio] {
    display: none;
}
.main-centered>input[type=radio]:checked+label {
    background-color: var(--cool-light-blue);
    color: var(--cool-dark-blue);
}

.error {
    color: red;
    font-size: 16pt;
}
/*
 * mobile only
 */
@media screen and (max-width: 500px) {
    ul#id_survey_previous_trivia {
        display: table;
        table-layout: fixed;
    }
    ul#id_survey_previous_trivia li {
        display: table-cell;
        width: 10%;
    }
    .main-centered>label {
        display: block;
    }
    .main-centered>label:first-of-type {
        margin-bottom: .5em;
    }
}
/*
 * larger screens
 */
@media screen and (min-width: 500px) {
    p, ul, input[type=submit] {
        width: 80%;
        margin: auto;
        display: block;
    }
    input[type=submit] {
        margin-top: 10px;
    }
    .main-centered>label:first-of-type {
        margin-left: 30%;
        margin-right: 15%;
    }
    #id_contact_days {
        margin: .5em auto;
        column-count: 2;
    }
}
