#header {
    background-color: rgba(255, 255, 255, .9);
    margin: auto;
    margin-top: -2em;
    padding-top: 2em;
    margin-bottom: -.3em;
    font-size: 16pt;
}
#header h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
}
#logo img {
    margin: auto;
}
#logo {
    text-align: center;
    width: 100%;
}
#index-navbar-container #navbar {
    margin-top: 0.5em;
}

#daily-updates {
    margin: auto;
    margin-top: 2em;
}
#daily-updates h2 {
    font-size: 24pt;
    margin-bottom: 0;
}
#daily-updates div {
    /*background: rgba(0,0,0,.3);*/
    background: var(--second-bg-color);
    border-radius: 20px;
    text-align: center;
    vertical-align: top;
    padding-bottom: .5em;
}
li.pennant {
    color: var(--main-fg-color);
}
@media screen and (max-width: 500px) {
    /* Phones and devices with small/narrow screens */
    #logo img {
        width: 100%;
    }
    #daily-updates {
        width: 100%;
        display: block;
    }
    #daily-updates div {
        margin-bottom: 1em;
        padding-top: 0.1em;
        padding-bottom: 1em;
    }
    #games ul {
        margin: auto;
    }
    #games ul li {
        line-height: 1.5em;
        text-align: left;
    }
    #games li:not(.pennant) {
        list-style: circle;
    }
    #games li.pennant {
        list-style: disc;
    }
}
@media screen and (min-width: 500px) {
    /* Desktop monitors, tablets, wide screens */
    #header {
        font-size: 18pt;
    }
    #games ul {
        padding-left: 15%;
    }
    #games ul li {
        text-align: left;
        display: block;
    }
    #daily-updates {
        width: 70%;
        display: table; /* This makes the divs be the same height - smh */
        border-spacing: 0.8em;
        border-collapse: separate;
    }
    #daily-updates div {
        display: table-cell; /* They're my divs and I'll display them how I want damnit! */
        width: 50%;
    }
    #daily-updates h2 {
        margin-bottom: -.2em;
    }
    li.pennant:before {
        content: "** ";
        font-weight: bold;
    }
}
@media screen\0, screen\9 {
    /* IE specific rules because it sucks that bad */
    #daily-updates div {
        background: #0D5060;
    }
    li.pennant {
        color: #337989;
    }
}
