.urlpennant {
    text-align: center;
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 15px;
    padding-bottom: .8em;
    transition-duration: .4s;
    transition-property: background-color;
    cursor: pointer;
}

input:checked + label>.pennant {
    background-color: #008CBA;
}
label>.pennant:hover {
    background-color: #33AEDC;
}

input[type=radio] {
    display: none;
}
input[type=submit] {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    padding: 15px 32px;
    border-radius: 20px;
    color: white;
    font-size: 15pt;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 97%;
    margin: auto;
    margin-top: 1em;
    display: block;
}
input[type=submit]:hover {
    background-color: white;
    color: black;
}
h3 {
    text-align: center;
}
.venues {
    display: none;
    padding: 1em 0;
}
.venues label {
    display: block;
    padding: .2em 0;
    list-style: none;
    border: 2px solid #008CBA;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
    transition-duration: .4s;
}
input:checked + label>.venues {
    display: block;
    margin: auto;
}
.pennant:not(:last-of-type) {
    margin-top: 1em;
}
.venues input:checked + label {
    background-color: #008CBA;
}
.venues input + label:hover {
    background-color: #33AEDC;
}
.error {
    color: red;
    text-align: center;
    margin: auto;
}
input[type=text], input[type=number] {
    transition: .2s;
    padding: .2em;
    font-size: 16pt;
    width: 90%;
}
input[type=text]:focus, input[type=number] {
    border: 4px solid #33AEDC;
    border-radius: 5px;
}
@media screen and (min-width: 500px) {
    #content {
    }
    #container {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    #current-pennants {
        display: table-row;
    }
    label {
        display: table-cell;
        width: 100%;
        padding: 1em;
    }
}
