#content {
    /* Makes the list of venues look like it's attatched to the navbar */
    padding-top: 0;
    padding-bottom: 0;
}
.day {
    border: 5px solid black;
    border-bottom: none;
    font-size: 16pt;
    margin: auto;
    background-color: var(--second-bg-color);
    color: #FFF;
}
.day:last-of-type {
    border-bottom: 5px solid black;
}
.day>input {
    display: none;
}
.day>label {
    display: block;
    width: 100%;
    font-size: 20pt;
}
.day>label::after {
    font-size: 10pt;
    font-weight: bold;
}
.day.today {
    color: var(--main-fg-color);
}
.day>input:not(:checked)+label::after {
    content: " +";
}
.day>input:checked+label::after {
    content: " -";
}
.venue {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: none;
    font-size: 14pt;
    background-color: white;
    color: #000;
    padding: .5em 0;
}
.day>input:checked~.venue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.venue>div:first-child {
    flex: 1;
}
.venue>div:not(:first-child) {
    flex: 1;
    flex-direction: column;
}
.venue>div:not(:first-child)>div {
    flex: 1;
    text-align: left;
}
.venue img {
    max-width: 100%;
    max-height: 150px;
    vertical-align: middle;
    display: block;
    margin: auto;
}
/*.venue.inactive {*/
    /*background-color: #999;*/
/*}*/
.venue.inactive .time {
    color: #F00;
}
@media screen and (max-width: 500px) {
    /* Phones */
    .day>input:checked~.venue {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .venue>div:first-child {
        flex: 1;
        margin-bottom: 0.6em;
    }
    .venue>div:not(:first-child) {
        flex: 1;
    }
    .venue>div:not(:first-child)>div {
        display: block;
        margin: auto;
        text-align: center;
    }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
    /* For tablets */
    .day>input:checked~.venue div {
        margin: auto;
        vertical-align: middle;
    }
    .venue>div:first-child img {
        max-width: 80%;
        height: 100%;
    }
    .venue>div:first-child {
        flex: 1;
    }
    .venue>div:not(:first-child) {
        flex: 1;
    }
    .venue>div:not(:first-child) div {
        flex: 1;
        text-align: center;
    }
}
@media screen and (min-width: 1000px) {
    /* For desktop */
    .day>input:checked~.venue div {
        margin: auto;
        vertical-align: middle;
    }
    .day>input:checked~.venue {
        font-size: 18pt;
        display: flex;
        flex-direction: row;
    }
    .venue>div:first-child {
        flex: 2;
    }
    .venue>div:not(:first-child) {
        flex: 3;
        display: flex;
        flex-direction: row;
        margin: auto;
        vertical-align: middle;
        list-style: none;
        /*padding-top: 45px;*/
    }
    /*.venue div:not(:first-child) {*/
        /*display: block;*/
        /*margin-left: inherit;*/
        /*padding-top: 45px;*/
    /*}*/
}
@media screen\0, @media screen\9 {
    /* IE specific rules because it sucks that bad */
    .day {
        background-color: #0D5060;
    }
    .day.today {
        color: #337989;
    }
}
