{% load static %}
<style>
    table {
        border-collapse: collapse;
    }
    td {
        border-bottom: 1px solid black;
    }
    td:first-child {
        text-align: right;
        padding-right: 2em;
    }
    img {
        height: 200px;
        width: auto;
        display: block;
        margin: auto;
        margin-bottom: -2em;
    }
</style>
<div class="main-centered">

    <p>
    TriviaPalooza is our Trivia Time Live player’s club. TriviaPalooza runs
    concurrently with our Pennant season and offers players a chance to earn
    individual points and rewards for playing trivia, as well as a chance to
    receive discounts at numerous venues. Membership should and does have its
    privileges... However, the best part about being a member is that all of
    the proceeds from our TriviaPalooza memberships go to Stand Up For Kids,
    a Kitsap County charity, whose primary mission is to assist homeless and
    at-risk kids in the community. Ask your host how to become a member.
    </p>

    <h2>Earning Points</h2>

    <p>
    A point is earned every time you play Trivia Time Live and present your
    card to the host before the game. But your points multiply for every
    three venues you play at. Getting your multiplier to go up will really
    get your points kicking into a higher gear because the multiplier applies
    to every game you have played for the entire season. The season will wrap
    up shortly before our annual Trivia Bowl in February. If you happened to
    play at every venue, the total number of times you played during the
    2018-2019 season would be multiplied by 7!
    </p>

    <h2>Rewards</h2>
    <table>
        <tr>
            <td>50 points</td>
            <td>Trivia Time Live Shirt (Gold Tier)</td>
        </tr>
        <tr>
            <td>125 points</td>
            <td>TriviaPalooza Shirt (Platinum Tier)</td>
        </tr>
        <tr>
            <td>175 points</td>
            <td>TriviaPalooza Diamond Shirt (Diamond Tier)</td>
        </tr>
        <tr>
            <td>4<sup>th</sup> place</td>
            <td>$25 (+ a TTL shirt)</td>
        </tr>
        <tr>
            <td>3<sup>rd</sup> place</td>
            <td>$50 (+ a TP shirt)</td>
        </tr>
        <tr>
            <td>2<sup>nd</sup> place</td>
            <td>$75 (+ a TP shirt)</td>
        </tr>
        <tr>
            <td>1<sup>st</sup> place</td>
            <td>$150 (+ a TP shirt)</td>
        </tr>
    </table>

    <img src="{% static 'website/images/logos/TTL-stand_up_for_kids_logo.svg' %}"
        alt="Stand Up For Kids">

    <p>
    Trivia Time Live is proud to team up with Stand Up For Kids, an
    all-volunteer organization designed to assist homeless and at-risk kids in
    our community. All the proceeds of TriviaPalooza will go to this generous
    local charity.
    </p>

    <p>
    Kitsap County’s local chapter of Stand Up For Kids is here to empower homeless
    and at-risk youth toward lifelong personal growth, and to create in these
    youth a sincere belief in themselves through open, straightforward counseling,
    mentoring, and life-skills training.
    </p>

    <p>
    Check out <a href="http://www.standupforkids.org/kitsapcounty">their website</a> for more information
    </p>
</div>
