<div class="main-centered">

    <p>
    TriviaPalooza is our Trivia Time Live player’s club. TriviaPalooza runs
    concurrently with our Pennant season and offers players a chance to earn
    individual points and rewards for playing trivia, as well as a chance to
    receive discounts at numerous venues. Membership should and does have its
    privileges... However, the best part about being a member is that all of
    the proceeds from our TriviaPalooza memberships go to Stand Up For Kids,
    a Kitsap County charity, whose primary mission is to assist homeless and
    at-risk kids in the community. Ask your host how to become a member.
    </p>

</div>
