<style>
    table {
        border-collapse: collapse;
        border: 2px solid black;
    }
    td {
        border-bottom: 1px solid black;
        padding: .3em;
    }
    td:first-child {
        padding-right: 2em;
    }
    p {
        text-align: center;
    }
    @media screen and (min-width: 500px) {
        table {
            max-width: 75%;
        }
    }
</style>

<h2>Venue Discounts</h2>
<table>
    {% for discounts in content.venue_discounts %}
    <tr>
        <td>{{discounts.venue}}</td>
        <td>{{discounts.discount|linebreaksbr}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Extra Discounts</h2>
<table>
    {% for discounts in content.venue_discounts %}
    <tr>
        <td>{{discounts.name}}</td>
        <td>{{discounts.discount|linebreaksbr}}</td>
    </tr>
    {% endfor %}
</table>

<p><b>Check back often because we're adding new deals every day!</b></p>
