<style>
    table {
        border-collapse: collapse;
        border: 2px solid black;
    }
    td {
        border-bottom: 1px solid black;
        padding: .3em;
    }
    td:first-child {
        padding-right: 2em;
    }
    p {
        text-align: center;
    }
</style>

<table>
    {% for discounts in content %}
    <tr>
        <td>{{discounts.venue}}</td>
        <td>{{discounts.discount|linebreaksbr}}</td>
    </tr>
    {% endfor %}
</table>

<p><b>Check back often because we're adding new deals every day!</b></p>
