<style>
    table {
        border-collapse: collapse;
        border: 2px solid black;
    }
    td {
        border-bottom: 1px solid black;
        padding: .3em;
    }
    td:first-child {
        padding-right: 2em;
    }
    p {
        text-align: center;
    }
</style>

<table>
    <tr>
        <td>The Brass Kraken</td>
        <td>.50 cents off beer every day (limit 3)<br>
            $1.00 off beer during trivia (no limit)</td>
    </tr>
    <tr>
        <td>The Golden Mum</td>
        <td>Happy Hour prices during trivia</td>
    </tr>
    <tr>
        <td>Dog Days Brewing</td>
        <td>$1 off pints during trivia</td>
    </tr>
</table>

<p><b>Check back often because we're adding new deals every day!</b></p>
